<div class="modal-overlay" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Reset Password</h2>
    <form (submit)="resetPassword(); $event.preventDefault()">
      <label for="email">Email:</label>
      <input id="email" type="email" [(ngModel)]="email" name="email" required />

      <!-- Notification Pop Up -->
      <div class="notification" *ngIf="infoMessage">
        {{ infoMessage }}
      </div>

      <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <div class="buttons">
        <button type="submit">Send Reset Email</button>
        <button type="button" (click)="onClose()">Cancel</button>
      </div>
    </form>
  </div>
</div>
