<nav class="navbar">
  <ul class="nav-links">
    <!-- My Profile link, only visible when logged in -->
    <li *ngIf="isLoggedIn">
      <a routerLink="/profile">{{ 'NAVBAR.MY_PROFILE' | translate }}</a>
    </li>
    
    <!-- Cascading link, visible when logged in -->
    <li *ngIf="isLoggedIn">
      <a routerLink="/cascading">{{ 'NAVBAR.CASCADING' | translate }}</a>
    </li>
    
    <li class="dropdown"
        [class.open]="isDropdownOpen['nav1']"
        [attr.data-trigger]="dropdownTrigger"
        (click)="toggleDropdown('nav1')"
        (mouseenter)="onMouseEnter('nav1')"
        (mouseleave)="onMouseLeave('nav1')">
      <a href="#">{{ 'NAVBAR.NAV_LINK_1' | translate }}</a>
      <ul class="dropdown-menu">
        <li><a href="#">{{ 'NAVBAR.SUB_LINK_1' | translate }}</a></li>
        <li><a href="#">{{ 'NAVBAR.SUB_LINK_2' | translate }}</a></li>
        <li><a href="#">{{ 'NAVBAR.SUB_LINK_3' | translate }}</a></li>
      </ul>
    </li>

    <li class="dropdown"
        [class.open]="isDropdownOpen['nav2']"
        [attr.data-trigger]="dropdownTrigger"
        (click)="toggleDropdown('nav2')"
        (mouseenter)="onMouseEnter('nav2')"
        (mouseleave)="onMouseLeave('nav2')">
      <a href="#">{{ 'NAVBAR.NAV_LINK_2' | translate }}</a>
      <ul class="dropdown-menu">
        <li><a href="#">{{ 'NAVBAR.OPTION_A' | translate }}</a></li>
        <li><a href="#">{{ 'NAVBAR.OPTION_B' | translate }}</a></li>
        <li><a href="#">{{ 'NAVBAR.OPTION_C' | translate }}</a></li>
      </ul>
    </li>

    <li class="dropdown"
        [class.open]="isDropdownOpen['dropdown']"
        [attr.data-trigger]="dropdownTrigger"
        (click)="toggleDropdown('dropdown')"
        (mouseenter)="onMouseEnter('dropdown')"
        (mouseleave)="onMouseLeave('dropdown')">
      <a href="#">{{ 'NAVBAR.DROPDOWN' | translate }}</a>
      <ul class="dropdown-menu">
        <li><a href="#">{{ 'NAVBAR.SUB_LINK_1' | translate }}</a></li>
        <li><a href="#">{{ 'NAVBAR.SUB_LINK_2' | translate }}</a></li>
        <li><a href="#">{{ 'NAVBAR.SUB_LINK_3' | translate }}</a></li>
      </ul>
    </li>
  </ul>
</nav>
