<header [ngClass]="cssClass">
  <h1>{{ 'HEADER.TITLE' | translate }}</h1>
  <div class="right-container">
    <div class="language-picker-container" *ngIf="languages?.length">
      <app-language-picker
        [languages]="languages"
        (languageSelected)="onLanguagePicked($event)">
      </app-language-picker>
    </div>
    <div class="auth-buttons">
      <button type="button" (click)="openLoginModal()">Login</button>
      <button type="button" (click)="openSignupModal()">Sign Up</button>
    </div>
  </div>
</header>
