<header [ngClass]="cssClass">
  <h1>
    <a routerLink="/" style="color: inherit; text-decoration: none; cursor: pointer;">
      {{ 'HEADER.TITLE' | translate }}
    </a>
  </h1>

  <div class="right-container">
    <!-- Language Picker -->
    <div class="language-picker-container" *ngIf="languages?.length">
      <app-language-picker
        [languages]="languages"
        [selectedLanguage]="userPreferredLanguage"
        (languageSelected)="onLanguagePicked($event)">
      </app-language-picker>
    </div>

    <!-- Authentication Buttons -->
    <div class="auth-buttons">
      <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
        <button type="button" (click)="openLoginModal()">Login</button>
        <button type="button" (click)="openSignupModal()">Sign Up</button>
      </ng-container>
      <ng-template #loggedInTemplate>
        <button type="button" routerLink="/profile">Profile</button>
        <button type="button" (click)="logout()">Logout</button>
      </ng-template>
    </div>
  </div>

  <!-- Modals -->
  <app-login-modal *ngIf="showLoginModal" (close)="closeLoginModal()" (forgotPassword)="onForgotPassword()"></app-login-modal>
  <app-signup-modal *ngIf="showSignupModal" (close)="closeSignupModal()"></app-signup-modal>
  <app-reset-password-modal *ngIf="showResetPasswordModal" (close)="closeResetPasswordModal()"></app-reset-password-modal>
</header>
